<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bienvenue</title>

<link rel="stylesheet" href="/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/content/signin.css" />
<link rel="icon" type="image/png" th:href="@{/content/favicon.png}" s/>

</head>

<body>

	<div class="container">
	
		<h2 class="form-signin-heading">Bienvenue !</h2>
		<br>
		<p>
			<label for="username1" class="sr-only">Nom</label><span th:text=${user.firstname}></span>
		</p>
		<p>
			<label for="username" class="sr-only">Prénom</label><span th:text=${user.lastname}></span>
		</p>
		<p>
			<label for="username" class="sr-only">Surnom</label><span th:text=${user.nickname}></span>
		</p>
		<p>
			<label for="username" class="sr-only">Date de naissance</label><span th:text=${user.birthday}></span>
		</p>
		<p>
			<label for="username" class="sr-only">Email</label><span th:text=${user.email}></span>
		</p>
		<p>
			<label for="username" class="sr-only">Pays</label><span th:text=${user.country}></span>
		</p>
		<br>
		<h6 class="form-signin-heading">
			<a href="/list">Liste</a>&nbsp;&nbsp;<a href="/">Ajouter</a>
		</h6>
			
	</div>

</body>

</html>