<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bienvenue</title>

<link rel="stylesheet" href="/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/content/signin.css" />
<link rel="icon" type="image/png" th:href="@{/content/favicon.png}" s/>

</head>

<body>

	<div class="container">
		<form class="form-signin" method="post" action="/login">
		
			<h2 class="form-signin-heading">Bienvenue !</h2>
			
			<div class="alert alert-danger" th:if="${param.error}">Enregistrement KO.</div>
			<div th:if="${param.logout}" class="alert alert-success">Enregistrement OK.</div>
			<p>
				<label for="username" class="sr-only">Nom</label> <input
					type="text" name="lastname" class="form-control"
					placeholder="Nom*" required autofocus>
			</p>
			<p>
				<label for="username" class="sr-only">Prénom</label> <input
					type="text" name="firstname" class="form-control"
					placeholder="Prénom*" required autofocus>
			</p>
			<p>
				<label for="username" class="sr-only">Surnom</label> <input
					type="text" name="nickname" class="form-control"
					placeholder="Surnom" autofocus>
			</p>
			<p>
				<label for="username" class="sr-only">Date de naissance</label> <input
					type="date" name="birthday" class="form-control"
					placeholder="Date de naissance*" required autofocus>
			</p>
			<p>
				<label for="username" class="sr-only">Email</label> <input
					type="email" name="email" class="form-control"
					placeholder="E-mail*" required autofocus>
			</p>
			<input type="hidden" id="countryid" name="country" class="form-control" value="">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
			<br>
			<h6 class="form-signin-heading">
				<a href="/list">Liste</a>
			</h6>
		</form>

	</div>

</body>

<!-- Chargement de jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Detecter le pays -->
 <script type="text/javascript">
   	$.getJSON('http://ip-api.com/json', function(data) {
   		var obj = JSON.parse(JSON.stringify(data, null, 2));
   		var s = document.getElementById("countryid");
         s.value = obj.country;
	});
 </script> 

</html>