<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bienvenue</title>

<link rel="stylesheet" href="/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/content/signin.css" />
<link rel="icon" type="image/png" th:href="@{/content/favicon.png}" s/>

</head>

<body>

	<div class="container">
	
		<h2 class="form-signin-heading">Bienvenue !</h2>
		<h6 class="form-signin-heading">
			<a href="/">Ajouter</a>
		</h6>
		<br>
		
		<table class="table">
		   <th:block th:each="user : ${list}">
		      <tr>
		         <td th:text="${user.id}"><h6 class="form-signin-heading"></h6></td>
		         <td th:text="${user.firstname}"><h6 class="form-signin-heading"></h6></td>
		         <td th:text="${user.lastname}"><h6 class="form-signin-heading"></h6></td>
		         <td><a th:href="@{/user/{id}(id=${user.id})}">Détails</a></td>
		      </tr>
		   </th:block>
		</table>

	</div>

</body>

</html>