<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bienvenue</title>

<link rel="stylesheet" href="/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/content/signin.css" />
<link rel="icon" type="image/png" th:href="@{/content/favicon.png}" s/>

</head>

<body>

	<div class="container">
		<form class="form-signin" method="post" action="/login">
		
			<h2 class="form-signin-heading">Bienvenue !</h2>
			<h6 class="form-signin-heading">
				<a href="/">Ajouter</a>
			</h6>
			<br>
			<h6 class="form-signin-heading">
				JEDLI Mejdi - <a href="/user/1">Détails</a>
			</h6>
			<h6 class="form-signin-heading">
				JEDLI Mejdi - <a href="/user/1">Détails</a>
			</h6>
		</form>

	</div>

</body>

</html>